@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Client.SingleForkCrane.StatusDiagnosisData>
@{
    Layout = null;
}

<table class="log-entries" id="table" >
<tr>
    <th>Id</th>
    <th>时间</th>
    <th>设备名</th>
    <th>任务号</th>
    <th>列</th>
    <th>层</th>
    <th>在站点</th>
    <th>状态</th>
    <th>事件</th>
    <th>左右位</th>
    <th>高低位</th>
    <th>报警码</th>
    <th>报文</th>
  
</tr>

@foreach (var item in Model)
{
<tr class="">
    <td>@item.LogId</td>
    <td class="longDate">@item.LongDate.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
    <td>@item.Name</td>
    <td>@item.TaskId</td>
    <td>@item.Column</td>
    <td>@item.Level</td>  
    <td>@item.AtStation</td>
    <td>@item.State</td>
    <td>@item.Event</td>
    <td>@item.ForkHorizontalPosition</td>
    <td>@item.ForkVerticalPosition</td>
    <td>@item.ErrorCode
        @if (item.Alarm != null)
    {
        <text>(@item.Alarm.Name)</text>
    }
    </td>
    <td>@item.Telex</td>
</tr>    
}
</table>



@if (Model.Count() > 0)
{
    @Html.PagedListPager(this.Model, pageIndex => Url.Action("Index", new { pageIndex }), new PagedListRenderOptions { DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "共 {2} 个" })
}